# Dependencies
node_modules

# Build output
dist
build

# Test results
test-results
playwright-report
playwright/.cache

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local

